@import "src/styles/variables";
@import "src/styles/mixins";

.projects-component {
  //background-color: $dark-bg-color;
  padding-top: 2.175rem;

  h1 {
    margin: 0;
  }

  .projects-wrapper {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 40px;


  }
}
