@import "src/styles/variables";
@import "src/styles/mixins";

$border-color: darken($dark-bg-color, 15%);
$box-space: 20px;
$flag-size: 60px;

.project {
  background-color: #fff;
  padding: $box-space;
  border: 1px solid $border-color;
  border-radius: 4px;
  transition: all 0.3s;

  h5,
  h4 {
    margin: 0;
  }

  .title {
    padding-right: 60px;
  }

  .projectDescription {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .customer-flag-wrapper {
    height: 1px;
    background-color: $border-color;
    margin: 20px -20px;
    position: relative;
    transition: all 0.3s;

    img.customer-flag {
      position: absolute;
      right: $box-space;
      height: $flag-size;
      width: $flag-size;
      top: -($flag-size/2);
    }
  }

  .duration {
    font-size: 15px;
    color: lighten($main-text-color, 20%);
  }

  .role {
    margin: 5px 0 10px 0;
  }

  .techStack {
    .tag {
      border: 1px solid $theme-color;
      padding: 5px 10px;
      border-radius: 2px;
      display: inline-block;
      font-size: 12px;
      margin: 5px 5px 0 0;
      transition: all 0.3s;
      cursor: default;

      &:hover {
        background-color: lighten($theme-color, 30%);
        color: $black-text-color;
      }
    }
  }

  &:hover {
    border-color: $theme-color;
    .customer-flag-wrapper {
      background-color: $theme-color;
    }
  }
}
