@import "src/styles/variables";
@import "src/styles/mixins";

body {
  color: $main-text-color;
}

a {
  text-shadow: none;
  color: $main-text-color;
  transition: 0.2s color;
  background-image: none;

  &:hover {
    color: $theme-color;
  }
}

h1.section-header {
  font-size: 50px;
  position: relative;
  padding-bottom: 10px;
  color: $main-text-color;
  margin-bottom: 20px;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 2px;
    z-index: -1;
    background: $theme-color;
    width: 75px;
  }
}

h4 {
  font-weight: normal;
}

.container {
  @include centerPage;
}

.btn {
  border: 2px solid $theme-color;
  background: #fff;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color .3s;

  &:hover {
    background-color: $theme-color;
    color: $main-text-color;
  }
}
