@import "src/styles/variables";

@mixin centerPage {
  max-width: $page-width;
  margin: 0 auto;
  padding: 0 30px;
}

// breakpoints - https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/
$breakpoints: (
  "mobile": (
    max-width: 576px,
  ),
  "tablet": (
    max-width: 767px,
  ),
  "ltablet": (
    max-width: 1024px,
  ),
  "desktop": (
    max-width: 1200px,
  ),
) !default;

@mixin breakpoint($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
