@import "../../../styles/variables";
@import "../../../styles/mixins";

.skill {
  .skill-title {
    display: inline-block;
    margin: 0;
  }
  .skill-experience {
    font-size: 16px;
    color: lighten($main-text-color, 20%);
    margin: 0 10px;
  }

  .skill-level-label {
    float: right;
    //color: $theme-color;
  }

  .skill-bar {
    width: 100%;
    height: 4px;
    background-color: #dddee3;
    border-radius: 3px;
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;

    .skill-bar-level {
      position: absolute;
      height: 100%;
      background-color: $theme-color;
      //width: 50%;
    }
  }
}
