.header-component {
  //position: fixed;
  top: 0;
  padding: 12px 0;
  background-color: #fff;
  box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
  color: #3c4858 !important;

  & > div {
    width: 900px;
    margin: auto;
    text-align: center;

    a {
      text-decoration: none;
      background: none;
      color: #3c4858;
      display: inline-block;
      margin: 0 10px;
      text-transform: uppercase;
      font-size: 16px;
    }
  }
}
