@import "../../../styles/variables";
@import "../../../styles/mixins";

.footer-component {
  background-color: $footer-bg-color;
  color: $footer-text-color;
  padding: 20px;
  font-size: 16px;

  & > div {
    @include centerPage;
    text-align: center;
  }
}
